*{
    background: #29769d;
    align-items: center;
}

.Nav{
    text-align: center;
    background: #29769d;
    width: 100%;
    text-decoration: none;
    margin-bottom: 25px;
}
ul{
    display: inline;
    margin-bottom: 25px;
    text-decoration: none;
    margin-top: 12px;
    background-color: black;
}
li{
    display: inline;
    padding: 24px;
    text-decoration: none;
    margin-top: 12px;
    
}
a{
    text-decoration: none;
    color: white;
    text-align: center;
}
.container{
    margin: 15px;
    padding-right: 25px;
}

.Card {
    margin: 0px;
    border: black;
    border-radius: 12px;
    border: 3px solid;
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    background: #29769d;
    box-shadow: 5px 5px 10px #236485, -5px -5px 10px #2f88b5;
}
.formulario{
    margin-top: 25px;
}
input{
    margin-bottom: 36px;
    padding: 12px;
    text-align: center;
    border: none;
    border-bottom: 2px solid black;
}
textarea{
    text-align: center;
    border: black;
    border-radius: 12px;
    border: 3px solid;
}
::placeholder{
    color: white;
}

p {
    margin-bottom: 12px;
    text-align: center;
  }

  button {
    
    margin-bottom: 5px;
    padding: 8px;
    background: #29769d;
    color: black;
    border: solid 2px black;
    border-radius: 16px;
    box-shadow: 5px 5px 10px #236485, -5px -5px 10px #2f88b5;

}

@media screen and (min-width: 565px) and (max-width: 959px) {
    .Card {
      width: 48%;
      margin: 16px 5px 16px 5px;

    }
  }
  
  @media screen and (min-width: 961px) {
    .Card {
      width: 30%;
      margin: 16px 0px 16px 24px;

    }
  }


